body {
	background: none;
}
.detail_img {
	height: 420px;
	overflow: hidden;	 
	box-shadow: 0px 3px 12px rgba(0,0,0,0.5); 
	background-color: red;

}
.detail_img img{
	width: 100%;
	margin-top: -15em;
}
@media (max-width:1099px) {
	.detail_img img {
		height: auto%!important;
		width: 100%;
		margin-top: 0px!important;
	}
}
@media (max-width: 799px) {
	.detail_img {
		height: 300px;
	}
	.detail_img img {
		margin-top: -15em;
	}
}
.detail_text {
	margin-top: 1em;
	clear: both;
}
.detail_text h2{
	text-shadow: 0px 1px 0px white;
}
.bg_white {
	/*background-color: white;*/
	/*box-shadow: 0em 0em 2em rgba(0,0,0,0.5);*/
}


.top_unit{
	overflow: hidden;
}

.top_unit img{
	height: 50%;
}


.top_media {	
	width: 50%;
	float: left;
	position: relative;
}



.top_media .media-wrapper{
	width: 100%;
	position: relative;
	padding-bottom: 56%;
}


.top_media iframe{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
}

.top_media p{
	display: none;
}
.top_media_right {	
	width: 50%;
	float: left;
	position: relative;
}


.top_media_right .media-wrapper{
	width: 100%;
	position: relative;
	padding-bottom: 56%;
}

.top_media_right .thumbs{
	width: 100%;
	height: 100%;
	position: absolute;
}

.top_media_right .thumb{
	float: left;
	width: 25%;
	height: 50%;
	position: relative;
}

.top_media_right .thumb img{
	width: 100%;
	height: 100%;
}


.session {
	background-color: #f1f1f1;
	padding:1em;
	margin-bottom: 1.5em;
	padding-bottom: 3.2em;

}
.session:nth-of-type(1) {
	margin-top: 2em;
}
.session h4 {
	margin: 0;
}
.session .btn {
	float: right!important;
	/*padding: !important;	*/
}
@media (min-width: 980px) {
	.top_unit {
		margin-top: -20px;
	}
}
@media (max-width: 979px) {
	.top_unit {
		margin-top: -20px;
	}

}
@media (max-width: 768px) {
	.top_media_right {
		width: 100%;
	}
	.top_media {
		width: 100%;
	}
	.top_unit {
		margin-top: 0px;
	}	
}
.btn-rsvp:hover, .btn-rsvp:active, .btn-rsvp:focus {
	background-color: red;
}
.red {
	background-color: red;
}
