
/* Global Stylesheet */


/* --------------------------------------------- */



body {
	font-family: 'ubuntu', serif;
	background-image: url("../images/light_bg.png");
	padding-bottom:  3em;
	padding-top:  60px;
}

/*Menu*/
form {
	padding:1em;
	margin:0;
	padding-bottom: 0;
}
.container {
	//margin-top: 1em;
}
.navbar-fixed-top {
	//top:4em;
}

.featured-item {
	-webkit-box-shadow: 0 0 12px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 12px rgba(0,0,0,0.5);
	box-shadow: 0 0 12px rgba(0,0,0,0.5);
	background-color: white;
}

.content {
	padding: 0.6em 1em 1em 1em;
}


h1 {
	font-size:60px;
	line-height:100%;
}

h3 {
	line-height: 100%;
	font-weight: normal;
}

.container {
	z-index: 1;
}

div.overlap {
	z-index:400;
	position: relative;
	top:-5em;
}

img {
	max-width:100%;
}

a {	
	color: #FCB514;
	/*color: #333;*/
}
a:hover {
	text-decoration: none;
	color: #888;
}


/*Functional Styles*/
.right {
	float: right !important;
	text-align: right !important;
}

.left {
	float: left;
	text-align: left;
}

.center {
	margin: 0 auto;
	text-align: center;
	/*display: block;*/
}

.text-shadow {
	-moz-text-shadow: 3px 3px 7px black;
	-box-text-shadow: 3px 3px 7px black;
	text-shadow: 3px 3px 7px black;
}

.white {
	color: white;
}

/*Large Orange Button*/
.btn-orange {
	background: orange;
	border-radius: 0px;
	font-family: ubuntu;
	border: none;
}
.btn-facebook {
	background: #425F9C;
	border-radius: 0px;
	font-family: ubuntu;
	border: none;
	width: 100%;
	margin-left: 0.4em;
	margin-top: 1em;
}
.or {
	text-align: center;
	margin-top: 0.5em;
	font-family: ubuntu;
	font-weight: 700;
	font-size: 2em;
	text-shadow: 0px 1px 0px white;
}

.btn-huge {
  padding: 16px 20px;
  font-size: 20.5px;
}

.margin-gap {
	margin: 1em;
}

#brand_logo {
	background-image: url("../images/logo.png");
	text-indent: -999px;
	/*background-color: red;*/
	width: 143px;
	background-position: center;
	background-repeat: no-repeat;
}
}
#Sign_in {
	border-radius: 0px;
	background-color: #f5f5f5;
}
#Sign_in form {
	margin-bottom: 0;
}
.navbar-fixed-top .navbar-inner {
	background: none;
	background-color: #3A3A3A;
}
h1.center {
	font-weight: 400;
	font-family: bangers;
	letter-spacing: 3px;
}
.content .labels {
	font-weight: 700;
	margin-right: 5px;
}
.width_full {
	width: 100%;
}
input.width_full {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 1.2em;
	padding-bottom: 1.2em;
}

.carousel-caption {
	bottom:15em;
	width:60%;
	background: none;
}
p.blurb {
	font-size:150%;
	line-height:120%;
	font-family: ubuntu;	
}

#hero_img{
	overflow: hidden;
	max-height: 650px;
	margin-bottom: -2.5em;
	margin-top: -60px; /*boddy padding */
}
#hero_img img{
	height: auto;
	width: 100%;
	/*background: url("../images/main_home.jpg");*/
	/*background-repeat: no-repeat;*/
	/*background-color: white;*/
}
.center button.btn-orange {
	margin-top: 1em;
	margin-left: 0.5em;
	margin-right: 0.5em;	
	font-family: ubuntu;
	font-weight: 700;
}
.featured-item p {
	font-family: ubuntu;
	font-size: 1em;
	line-height: 1.3em;
	font-weight: 100;
	margin-top: 0.5em;
}
.featured-item h3 {
	/*padding: 0.2em 0.5em 0em 0.5em;*/
	text-align: left;
}


.clearfix:after{
	content: '.';
	display: block;
	visibility: hidden;
	clear: both;
	line-height: 0;
	height: 0;
}