span.capacity {
	font-weight: bold;
}

span.capacity, span.byline {
	display: block;
}
span.byline {
	color: gray;
}
.featured-item {
	margin-bottom:2em;
	background-color: white;
}
#box {
	margin-top: 5em;
}
.detail_text {
	background-color: white;
}
.featured-item p {
	font-family: ubuntu;
	font-size: 1em;
	line-height: 1.3em;
	font-weight: 100;
	margin-top: 0.5em;
}
